* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--bodyBackground);
}

#landing {
    margin: 0;
    width: 100%;
    height: 100vh;
    position: relative;
}

.landing-container {
    padding-left: 8em;
    padding-top: 8em;
    padding-bottom: 8em;
    width: auto;
    /* height: calc(100vh - 10em); */
    height: 100vh;
    position: relative;
}

.landing-split {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-bg {
    background-image: url(../img/left-bg.svg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -5px;
    z-index: 998;
}

.line-wrapper {
    width: 100%;
    margin-bottom: 6.5em;
}

.line {
    background-image: url(../img/line.svg);
    width: inherit;
    height: 22px;
    position: relative;
    z-index: 999;
}

.landing-container-left,
.landing-container-right {
    /* flex: 50% 0 0; */
    position: relative;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.landing-container-left {
    flex: 70% 0 0;
}

.landing-container-right {
    flex: 30% 0 0;
    justify-content: flex-end;
    align-items: flex-start;
}

.landing-container-right .btn {
    width: 14em;
    margin: 0;
    font-size: 1.5em;
}

.landing-container-right .btn:not(:last-child) {
    margin-bottom: 1em;
}

.landing-container-right .btn:last-child {
    margin-bottom: 3.5em;
}

.landing-container h1 {
    margin: 0;
}

.landing-h2-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.landing-h2-wrapper .landing-h2:first-child {
    padding-right: 0.25em;
}

.header-two-wrapper {
    position: relative;
    margin-top: 5em;
}

.header-two-wrapper h2 {
    position: relative;
    z-index: 1;
}

.header-two-wrapper img {
    position: absolute;
    z-index: 0;
    top: -50%;
    left: -3.5%;
}

.see-more {
    margin: auto;
    text-decoration: none;
    position: absolute;
    left: 47.4%;
    bottom: 5%;
    text-align: center;
    cursor: pointer;
    z-index: 999;
    transition: opacity var(--transitionDuration);
}

.see-more:hover {
    opacity: 0.3;
}

.active {
    color: var(--activeState);
    padding-left: 0.9em;
}

.dash {
    background-image: url(../img/dash.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: auto;
    width: auto;
}

nav {
    width: 100%;
    position: sticky;
    z-index: 99;
    top: 0;
    padding-bottom: 1em;
    transition: top var(--transitionDuration);
    overflow: hidden;
    /* box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2); */
}

nav:before {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
}

#main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

#main-nav a {
    position: relative;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

#main-nav a:hover {
    color: var(--hoverState);
    transition: color var(--transitionDuration);
}

section {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

#content {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.flex-box {
    display: flex;
    justify-content: flex-start;
}

.large-card {
    background: var(--lCardBackground);
    padding: 2em;
    border-radius: 10px;
    box-shadow: var(--shadowDark);
    margin-bottom: 4em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.large-card .card-content {
    margin-left: 2.9em;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--sCardBackground);
    padding: 1.5em 2em;
    margin-right: 2em;
    border-radius: 10px;
    box-shadow: var(--shadowLight);
    /* width: 18em; */
    width: calc(22em - 4em);
    height: 25em;
    cursor: pointer;
}

.card:hover {
    opacity: 0.7;
}

.card img {
    width: 10em;
    margin-bottom: 1em;
}

.card .small-card-text {
    text-align: center;
    font-size: 1.5em;
}

@media only screen and (max-width: 1530px) {
    .card {
        margin-right: 1.25em;
        width: calc(33.3% - 1.25em);
        height: 25em;
    }
    .card img {
        width: auto;
    }
    section,
    #content,
    #main-nav {
        width: 60%;
    }
}

@media only screen and (max-width: 1150px) {
    .large-card .card-content {
        margin-left: 0;
    }
    .card {
        height: 18em;
    }
    section,
    #content,
    #main-nav {
        width: 75%;
    }
    .landing-container-left {
        flex: 60% 0 0;
    }
    .landing-container-right {
        flex: 40% 0 0;
    }
}

@media only screen and (max-width: 1100px) {
    .landing-split {
        flex-direction: column;
    }
    .line-wrapper {
        margin-bottom: 5em;
    }
    .header-two-wrapper {
        margin-top: 1em;
        margin-bottom: 1.25em;
    }
    .landing-h2-wrapper h2 {
        margin: 0;
    }
    .header-wrapper .landing-h1:not(:first-child) {
        margin-top: -30px;
    }
}

.card:last-child {
    margin: 0;
}

.text-wrapper p {
    margin-bottom: 1em;
}

.btn {
    display: inline-block;
    background: var(--primaryBtn);
    border-radius: 5px;
    padding: 0.5em 1.75em;
    text-decoration: none;
    transition: opacity var(--transitionDuration);
    width: auto;
    text-align: center;
}

.btn:hover {
    text-decoration: underline;
    opacity: 0.7;
}

.location-wrapper {
    margin-bottom: 2em;
}

.address {
    max-width: 33.33%;
    margin-right: 2em;
}

.address h3 {
    margin-bottom: 0.25em;
}

.address h4 {
    margin-bottom: 0.25em;
    text-transform: none;
}

table {
    border-collapse: collapse;
}

tbody tr td {
    padding: 1em;
}

th {
    text-align: left;
    padding: 0.25em 1em;
    border-bottom: 2px solid black;
}

th:first-child {
    border-right: 2px solid black;
}

tbody tr td:first-child {
    padding: 0.25em 1em;
    padding-left: 0.75em;
    border-right: 2px solid black;
}

.table-header {
    border-bottom: 2px solid black;
}

tbody tr:hover {
    background: var(--hoverState);
}